
* {
  margin: 0%;
  padding: 0%;
}


.navbar{
  position: fixed;
  background-color: rgb(255, 255, 255);
  height: 100px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar::before{
  position: fixed;
  z-index: 1000;
  top: 0;
  display: block;
  content: "";
  height: 100%;

}

.logo img {
  width: 80px;
  border-radius: 50px;
  margin-left: 10rem;
}
.nav {
  width: 100%;
  padding-top: 10px;
}
.nav ul {
  display: flex;
}
.nav ul li {
  list-style: none;
}
.nav ul li a {
  width: 80%;
  color: black;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav ul li a span{
  color: rgb(255, 166, 0);
  background-color: #fff;
}

.nav ul li input {
  border-radius: 5px;
  margin-top: -11px;
  padding: 15px 10px 15px;
  border: none;
  background-color: rgb(239, 234, 234);
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
}

.nav ul li a:hover {
  color: #ffd447;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: white;
}

.nav2{
  color: white;
  text-align: center;
 padding-top: 110px;
  background-color: rgb(255, 171, 25);
  height: 40px;
}

/********************************** NavBar CSs Done ************************************/

.Slide{
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    

}

.Slide img{
  width: 100%;

}

.button{

    font-size: 40px;
    border: none;
    background-color: transparent;
    padding: 10px;

}

.mid{

  height: 100%;
  width: 80%;
  display: block;
  margin: 50px auto;

}

.mid img{

  margin: 50px auto;

}

hr{
  background-color: rgba(175, 175, 175, 0.863);
  margin: 50px;
}

#LipStick{
  margin: 50px auto 50px auto;
  width: 80%;
}

#lip_image{

  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;

}

#lip_image>div{
  width: 15%;
}


#lip_image img{

  width: 100%;

}

#lip_image>div:hover{
  width: 20%;
}

#Category{
  margin: 50px auto;
  width: 80%;
}

h1{
  margin-bottom: 50px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

/*************************************************!Mid Section***********************************************/

.container{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: auto;
  gap: 10px;
}

.container>div{

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;

}

.container>div:hover{

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  zoom: 1;

}

.container>div img{

 width: 100%;

  }

  .container>div button{

    margin: 8px;
    padding: 5px 10px;
    background-color:rgba(236, 177, 177, 0.468);
    border-radius: 6px;
    color: black;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;

  }
/********************************************!Mid Section End ********************************************/
/***************************************container_Details*************************************** */


.container_Details>div{

  width: 90%;
  display: grid;
  margin: 5% auto;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  column-gap: 2%;
  row-gap: 1.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}

.container_Details>div img{

  width: 40%;
 
   }

   .container_Details>div button{

    margin: 8px;
    padding: 5px 10px;
    background-color:rgba(236, 177, 177, 0.468);
    border-radius: 6px;
    color: black;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;

  }





/***************************************container_Details*************************************** */

#mid_banner{

  width: 80%;
  margin: auto;

}

#m_banner{

  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;

}

#m_banner>div{

  width: 30%;
  cursor: pointer;

}

#m_banner img{

  width: 100%;

}

#Contact{

  width: 80%;
  display: flex;
  justify-content: space-between;
  justify-items: flex-end;
  margin: auto;

}

#Contact>div>div{

  margin: 20px;

}

#Contact h2,p{
  margin-left: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Contact-1 input{
  padding-left: 20px;
  width: 350px;
  height: 55px;
  border: none;
  background-color: rgb(239, 234, 234);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 18px;
}


.Contact-1 button{

  margin: 10px;
  padding: 17px 40px;
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  

}

.Contact-2 img{

  padding: 10px;
  cursor: pointer;
  width: 35%;
  border-radius: 50px;

}

.Contact-2 p{
  margin-bottom: 20px;
}


 /*!Login Page Css */

#login {
  z-index: 3;
  position: absolute;
  left: 20rem;
  top: 8rem;
  background-color: #fff;
  height: 55%;
  box-shadow: 2px 2px 8px black;
  margin: 20px auto;
  width: 55%;
  border-radius: 5px;
}

.login-2 {
  /* text-align: left; */
  background-color: rgb(255, 255, 255);
  width: 50%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}
.login-2 .diss{
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  right: 20px;
  top: 10px;
}

.login-2,h5,h2{

  padding: 10px;
  /* margin: 10px; */

}

.login-2 p{

  color: grey;
  /* margin: 10px; */
  font-size: 11px;


}



.login-2 button {
  width: 70%;
  margin-top: 1rem;
  background-color: rgb(255, 166, 0);
  color: white;
  padding: 8px 0;
  font-size: 1.1rem;
  text-align: center;
  border: none;
}

.login-2 input{

padding: 10px;
width: 18rem;
margin-left: 10px;

}

.login-2 a{
  color: rgb(255, 166, 0);
  text-decoration: none;
}
/*!Login Page Css Ends */

/*? Footer Code */

#Footer {
  
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  z-index: -1;
  padding: 20px ;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  width: 80%;
}

#Footer h2 {
  color: black;
  font-weight: 400;
  margin: 10px 0;
}
.End {
  display: black;
}
.End a {
  color: rgb(40, 40, 40);
  font-weight: 300;
  margin: 5px 2px;
  text-decoration: none;
  display: block;
}

#footer {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.fchild1 {
  width: 100%;
  display: flex;
}
.fchild1-1{
  margin: 5px 50px;
  display: flex;
}
.fa-message, .fa-circle-info, .fa-phone{
  margin: 0 8px;
  padding: 5px;
  font-size: 2rem;
}
.fchild1-1 p{
  margin: 0;
  padding: 0;
  color: grey;
}
.fchild1-1 h6{
  margin: 0;
  padding: 0;
  font-size: 15px;
}
.fchild2{
  width: 10%;
  display: flex;
}
.fa-brands{
  margin: 0 10px;
  font-size: 2rem;
}

#footer-3{

  display: flex;

}

.f-3child{

  margin-top: 20px;
  margin-left: 10px;
  

}

.f-3child p{
  color: gray;
  font-size: 14px;
}






/*? Footer Code */

/** ResPonsiveNess */

@media  (max-width:1200px) {
  
}


/** ResPonsiveNess */

