* {
  margin: 0%;
  padding: 0%;
}


.navbar{
  position: fixed;
  background-color: rgb(255, 255, 255);
  height: 100px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar::before{
  position: fixed;
  z-index: 1000;
  top: 0;
  display: block;
  content: "";
  height: 100%;

}



.logo img {
  width: 80px;
  border-radius: 50px;
  margin-left: 10rem;
}
.nav {
  width: 100%;
  padding-top: 10px;
}
.nav ul {
  display: flex;
}
.nav ul li {
  list-style: none;
}
.nav ul li a {
  width: 80%;
  color: black;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav ul li a span{
  color: rgb(255, 166, 0);
  background-color: #fff;
}

.nav ul li input {
  border-radius: 5px;
  margin-top: -11px;
  padding: 15px 10px 15px;
  border: none;
  background-color: rgb(239, 234, 234);
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
}

.nav ul li a:hover {
  color: #ffd447;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: white;
}

.nav2{
  color: white;
  text-align: center;
 padding-top: 110px;
  background-color: rgb(255, 171, 25);
  height: 40px;
}


.Slide{
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    

}

.Slide img{
  width: 100%;

}

.button{

    font-size: 40px;
    border: none;
    background-color: transparent;
    padding: 10px;

}

.mid{

  height: 100%;
  width: 80%;
  display: block;
  margin: 50px auto;

}

.mid img{

  margin: 50px auto;

}

hr{
  background-color: rgba(175, 175, 175, 0.863);
}

#lip_image{

  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;

}

#lip_image>div{
  width: 15%;
}


#lip_image img{

  width: 100%;

}

#lip_image>div:hover{
  width: 17%;
}

